*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    background-image: linear-gradient(100deg,rgba(17, 163, 127, 0.2),#a5413f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    min-width: 400px;
    min-height: 499px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px #2e2e2b;
    padding: 20px 0;
}

.container  h1{
    text-align: center;
    color: #cc4543;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.colors{
    display:grid;
    grid-template-columns:repeat(4,100px);
    justify-content: center;
    align-items: center;
}

.color{
    background: green;
    width: 40px;
    height: 40px;
    margin: 20px 0;
    margin-left: 30px;
    border: 1px solid #272827;

}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.copy p {
    font-size: 20px;
    color: #10200b;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 20px 0;
}
.copy button{
    padding: 5px 15px;
    border-radius: 10px;
    background: rgb(6, 174, 6);
    color: #fff;
    border: none;
    outline: none;
}

.theColor{
    width: 100px;
    height: 100px;
    margin: auto;
    display:none;
}

.input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #763732;
    margin: 20px;
    border-radius: 40px;
}
.input-box input{
    flex: 1;
    margin-left: 20px;
    border: none;
    outline: none;
    padding: 12px 0;
    font-size: 16px;
}
.input-box button{
    padding: 15px 5px;
    border: none;
    outline: none;
    color: #fff;
    background: #e00ce0;
    border-radius: 40px;
    font-size: 16px;
}
